@using SampleApp.ViewModels
@model SuppliersIndexViewModel

@{
    ViewData["Title"] = this.Model.Title;
}

<h1>@this.Model.Title</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<nav aria-label="Suppliers navigation example">
    @*@await Component.InvokeAsync("Pager", new { pagingList = this.Model })*@
    @*<vc:pager-with-named-view paging-list="@Model.Suppliers" view-name="Bootstrap5" />*@

    <vc:pager paging-list="@Model.Suppliers" />

    @*<partial name="SmallRightPager" model="Model.Suppliers" />*@
</nav>

@{
    var headerMetadata = Model.Suppliers.FirstOrDefault();}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(viewModel => viewModel.Suppliers, model => model.CompanyName, htmlAttributes: new { Test = 1 })
            </th>
            <th>
                @Html.SortableHeaderFor(viewModel => viewModel.Suppliers, model => model.ContactName)
            </th>
            <th>
                @Html.SortableHeaderFor(viewModel => viewModel.Suppliers, model => model.ContactTitle)
            </th>
            <th>
                @Html.SortableHeaderFor(viewModel => viewModel.Suppliers, model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Suppliers)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SupplierId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SupplierId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SupplierId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<nav aria-label="Suppliers navigation example">
    <vc:pager-with-named-view paging-list="Model.Suppliers" view-name="Bootstrap5" />
</nav>

